
<div class="container">
<div class="flex-photos-index">
  <div class="card-text">
    <h1 id="index-title"><%= "Bienvenue #{current_user.email}" %></h1>
    <p id="p-margin-bottom-index">Vous avez décidé de vendre votre bien et nous allons vous accompagner. Pour commencer et accéder aux conseils personnalisés de notre ChatBot Violette, créez votre projet.  </p>
    <%= link_to "Créez votre projet", new_project_path, class: "purple-btn" %>
  </div>

    <img src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d2Vic2l0ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
</div>


<h2>Vos projets</h2>

    <% @projects.each do |project| %>
      <%= link_to project_path(project) do  %>
      <%= render "shared/card_project", project: project %>
      <% end %>
    <% end %>
</div>
